//== Navbar
#header {
	overflow-x: hidden;
	min-height: 200px;
}
.navbar {
	position:relative;
	font-size: 21px;
	font-weight: 100;

	.container {
		z-index: 2;
		position: relative;	
	}
	
	.navbar-brand {
		position: relative;
		top:-7px;
	}

	#logo {
		width:49px;
		height:37px;
		margin-right: 18px;
	}
	#name {
		position: relative;
		top:-13px;
		width:163px;
		height: 22px;


		#name-first {
			opacity:.5;
		}
	}
}
.navbar:after {
	content:'';
	display: block;
	height: 135px;
	width:101%;
	// needed to cover the gap that appears bottom right from twisting. 
	position: absolute;
	top:0;
	left:-1px;
	-webkit-transform: skew(0,1.5deg);
	transform: skew(0,1.5deg);
	background-color: $navbar-default-bg;
	//background-color: red; opacity: .5;
	// ^ debug styles
	-webkit-backface-visibility: hidden;
	z-index: 1;
}
@media (max-width: 1600px) {
	.navbar:after {
		height: 120px;
	}
}
@media (max-width: 1440px) {
	.navbar:after {
		height: 118px;
	}
}
@media (max-width: 1280px) {
	.navbar:after {
		height: 115px;
	}
}
@media (max-width: 1024px) {
	.navbar:after {
		height: 111px;
	}
}
@media (max-width: 768px) {
	.navbar:after {
		height: 108px;
	}
}